BUILD_RQTableList SQL "Script\\BUILD_RQTableList.txt"
BUILD_TBL_SCRIPT SQL "Script\\BUILD_TBL.txt"
DROP_HIS_TBL SQL "Script\\DROP_HISTBL.txt"
GET_BUFFER_REC SQL "Script\\GET_BUFFER_REC.txt"
INIT_TBL_EMPTY SQL "Script\\INIT_TBL_EMPTY.txt"
